<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      My Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- <img [src]="photo" >
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <div class="subsection-title">Deliver to</div>
  <ion-card>
    <ion-item>
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-col size="4">
            <img class="receiver-location"
              src="https://cdn0.iconfinder.com/data/icons/maps-and-navigation-1-1/52/43-512.png">
          </ion-col>
          <ion-col size="8">
            <ion-row>
              <ion-col class="receiver-name">
                Tuan Lambe
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="receiver-info">
                08123123123
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="receiver-info">
                {{deliveryAddress}}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <div class="subsection-title">Order Summary</div>
  <ion-card *ngFor="let item of listShoppingCart">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <span class="product-qty">{{item.qty}}x</span>
          </ion-col>
          <ion-col size="6">
            <span class="product-name">{{item.name}}</span>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <span class="product-price">{{(item.qty * item.price) | number}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-grid>
        <ion-row class="product-price">
          <ion-col size="6">
            <span>Subtotal</span>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <span>Rp{{137350 | number}}</span>
          </ion-col>
        </ion-row>
        <ion-row class="product-price">
          <ion-col size="6">
            <span>Promo</span>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <span>{{65999 | number}}</span>
          </ion-col>
        </ion-row>
        <ion-row class="product-price">
          <ion-col size="6">
            <span>Delivery Fee</span>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <span>{{8585 | number}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <div class="subsection-title">Payment Method</div>
  <ion-card>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <span class="product-name"><ion-icon name="wallet"></ion-icon> Cash</span>
          </ion-col>
          <ion-col size="6" class="product-title">
            <span >Free Delivery</span>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-grid>
        <ion-row >
          <ion-col size="6">
            <span class="subsection-title">Total</span>
          </ion-col>
          <ion-col size="6" class="ion-text-right receiver-name">
            <span>Rp{{8989898 | number}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-button color="tertiary" expand="block" (click)="doSubmit()">Place Order</ion-button>
    </ion-col>
  </ion-row>


</ion-content>