.product-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--ion-color-tertiary);
    margin: 5px 0 0 0;
}

.subsection-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--ion-color-dark);
}

ion-card {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0%;
}

.receiver-location{
    width: 64px;
    height: 64px;
    margin: 0 auto;
}
.receiver-name{
    font-size: 14px;
    font-weight: bold;
}

.receiver-info{
    font-size: 12px;
}