<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      List User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let user of listUser">
    <ion-img src="{{user.avatar}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{user.last_name}}, {{user.first_name}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{user.email}} - {{user.avatar}}
      </p>
    </ion-card-content>
  </ion-card>
  <div class="ion-text-center" *ngIf="totalPages != 0">
    <ion-button (click)="goPreviousPage()" [disabled]="currentPage <= 1">Previous</ion-button>
    <ion-button (click)="goNextPage()" [disabled]="currentPage == totalPages">Next</ion-button>
  </div>
  

</ion-content>