// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #05668D;
  --ion-color-primary-rgb: 5,102,141;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #045a7c;
  --ion-color-primary-tint: #1e7598;

  --ion-color-secondary: #02C39A;
  --ion-color-secondary-rgb: 2,195,154;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #02ac88;
  --ion-color-secondary-tint: #1bc9a4;

  --ion-color-tertiary: #00A896;
  --ion-color-tertiary-rgb: 0,168,150;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #009484;
  --ion-color-tertiary-tint: #1ab1a1;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #FFE066;
  --ion-color-warning-rgb: 255,224,102;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0c55a;
  --ion-color-warning-tint: #ffe375;

  --ion-color-danger: #F25F5C;
  --ion-color-danger-rgb: 242,95,92;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #d55451;
  --ion-color-danger-tint: #f36f6c;

  --ion-color-dark: #50514F;
  --ion-color-dark-rgb: 80,81,79;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #464746;
  --ion-color-dark-tint: #626261;

  --ion-color-medium: #A4A591;
  --ion-color-medium-rgb: 164,165,145;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #909180;
  --ion-color-medium-tint: #adae9c;
  
  --ion-color-light: #d8e2dc;
  --ion-color-light-rgb: 216,226,220;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #bec7c2;
  --ion-color-light-tint: #dce5e0;
}
