.user-avatar {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-name {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 100;
}

.custom-ion-item {
    --ion-background-color: var(--ion-color-tertiary-tint);
}

.subsection-title {
    font-size: 14px;
    font-weight: 100;
    color: var(--ion-color-dark);
    padding: 8px 10px 8px 10px;
}

.card-custom {
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 5px;
    margin-top: 5px;
    margin: auto;
    width: 95%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--ion-color-light-shade);
}